section#prices.prices.scrollspy
    .container
        h2: span 价格
        h3 价格优惠，充值返现，正规发票
        .row.center
            .col.s12.l4.grey.lighten-5
                .price-box.extra-padding
                    h4 专业设计
                    h5
                        span.currency ￥
                        | 1500起
                    .divider
                    ul.flow-text
                        li 5-10 工作日
                        li 精英设计师
                        li 普通插图
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='详细说明') ?
                        li 图文排版
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='详细说明') ?
                        li PPT美化
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='详细说明') ?
                        li 元素较少
                        li 普通建模
                        li 逻辑简单
                    a.btn-large.btn-flat.waves-effect.waves-dark 下单
            .col.s12.l4.grey.lighten-4
                .price-box.featured.extra-padding
                    h4 高端设计
                    h5
                        span.currency ￥
                        | 3000起
                    .divider
                    ul.flow-text
                        li 7-15 工作日
                        li 金牌设计师
                        li 论文封面
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='详细说明') ?
                        li 复杂插图
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='详细说明') ?
                        li 计算模拟
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='详细说明') ?
                        li 元素较多
                        li 高级建模
                        li 逻辑复杂
                    a.btn-large.btn-flat.waves-effect.waves-dark 下单
            .col.s12.l4.grey.lighten-5
                .price-box.extra-padding
                    h4 金牌设计
                    h5
                        span.currency ￥
                        | 5000起
                    .divider
                    ul.flow-text
                        li 10-20 工作日
                        li 经理设计师
                        li 顶级期刊
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='详细说明') ?
                        li 动画视频
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='详细说明') ?
                        li 实验方案
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='详细说明') ?
                        li 前沿水平
                        li 细节精细
                        li 收录保障
                    a.btn-large.btn-flat.waves-effect.waves-dark 下单
