include ../mixins/home-projects

section#projects.projects.scrollspy
    .container
        h2: span 案例
        h3 创意流原创设计，科学与艺术完美结合
        .row
            +top5projects
        .row
            h3 服务于全球顶级的期刊与团队
            .row
            .flow-text.social.huge.center
                a.col.s6.m4.l3.waves-effect.waves-light.github(href='#!')
                    .rectangle
                        .content.valign-wrapper Science
                a.col.s6.m4.l3.waves-effect.waves-light.facebook(href='#!')
                    .rectangle
                        .content.valign-wrapper Nature
                a.col.s6.m4.l3.waves-effect.waves-light.googleplus(href='#!')
                    .rectangle
                        .content.valign-wrapper Cell
                a.col.s6.m4.l3.waves-effect.waves-light.linkedin(href='#!')
                    .rectangle
                        .content.valign-wrapper JACS
                a.col.s6.m4.l3.waves-effect.waves-light.vk(href='#!')
                    .rectangle
                        .content.valign-wrapper Angewandte
                a.col.s6.m4.l3.waves-effect.waves-light.pinterest(href='#!')
                    .rectangle
                        .content.valign-wrapper ADVANCED
                a.col.s6.m4.l3.waves-effect.waves-light.twitter(href='#!')
                    .rectangle
                        .content.valign-wrapper Matter
                a.col.s6.m4.l3.waves-effect.waves-light.dribbble(href='#!')
                    .rectangle
                        .content.valign-wrapper Nano