include ../mixins/services

section#services.services.scrollspy
    .container
        h2: span 服务
        h3 国际化知识产权可视化解决方案
        .row.big-icons-row.service-items.center
            each service in site.data['services']
                +service(service)
