footer.page-footer
    .container
        .row.contact-details
            .col.s12.l3
                h3.left-align 400-000-0000
                .divider
                address
                    | 中南大学科技园研发总部1栋514
                    br
                    | 中国长沙，410083
                    br
                a(href='https://map.baidu.com/poi/%E4%B8%AD%E5%8D%97%E5%A4%A7%E5%AD%A6%E7%A7%91%E6%8A%80%E5%9B%AD/@12571299.22345922,3250889.7439521453,18.71z?uid=9653d21c2b221a843686f4b3&ugc_type=3&ugc_ver=1&device_ratio=2&compat=1&querytype=detailConInfo&da_src=shareurl', target='_blank') 地图导航
                    i.fa.fa-external-link
                p
                    | 上班时间
                    br
                    | 09:00&mdash;20:00

            .col.s12.l3
                h3.left-align 公共交通
                .divider
                p
                    strong 公交车:
                    br
                    |长沙火车站出发：立珊专线、225路
                    br
                    |其他：132、360、913、W111、W115等
                p
                    strong 地铁:
                    br
                    |3号线-中南大学站
                    br
                    |4号线-阜埠河站

            .col.s12.l3
                h3.left-align 电话邮件
                .divider
                p
                    | +86-155-2649-6019（明经理）
                    br
                    | +86-176-1088-6111（蓝老师）
                    br
                    i.fa.email
                    a(href='mailto:hello@react.com') service@gooldkey.com

            .col.s12.l3
                h3.left-align 即时通讯
                .divider
                p.im
                    img(src="./img/ming.jpg",height="96")
                    a &nbsp
                    img(src="./img/lan.jpg",height="96")

    .footer-copyright
        .container
            | &copy; #{moment(Date.now()).year()} #{config.author}
            span.right 长沙创意流科技有限公司 <i class="fa fa-heart-o"></i> 版权所有
